body {
	font-family: 'Lato', sans-serif;
	color: #fff;
	//background: linear-gradient(214deg, #232323,#333333, #264157, #3689a0,  #444444, #264157);
        font-size: 12px;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
    top: 0;
    background: linear-gradient(165deg, #e5e5e5, #ffffff, #404040, #bfbfbf);
    background-size: 800% 800%;
    position: absolute;
    -webkit-animation: AnimationName 45s ease infinite;
    -moz-animation: AnimationName 45s ease infinite;
    -o-animation: AnimationName 45s ease infinite;
    animation: AnimationName 45s ease infinite;
}
.hidden{
    display: none !important;
}

canvas#point_mesh {
    position: absolute;
    top: 0;
    width: 100% !important;
}
div#content_wrap {
    //position: absolute;
    float: left;
    top: 0;
    width: 100%;
        //    height: 100%;
    background: #262D31;
}


main#main {
    position: relative;
    z-index: 10;
}
.grids {
    position: relative;
    /* height: 626px; */
    margin: 50px;
}
    .grid-item{
            width: 24.5%;
            max-width:24.5%; 
            padding:5px;
            img{
                max-width: 100%  !important;
                width: 100% !important;
                height: auto;
            }
        }


@-webkit-keyframes AnimationName {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@keyframes AnimationName { 
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}

.content{
    background: RGBA(250, 250, 250, 0.8);
    margin: 50px auto;
    padding: 30px;
    position: relative;
    color: black;
}

.content-area{
    height: 100%;
    //float: left;
}
#canvas{
    position: relative;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}




