.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 90vh;
}

.carousel-item {
    position: relative;
    display: none;
    align-items: center;
  //  width: 100%;
    transition: transform 0.6s ease;
    backface-visibility: hidden;
    perspective: 1000px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-blend-mode: multiply;
    float: left;
   .img-fluid {
      max-width: 100%;
      width: auto;
      max-height: 100vh;
      display:
      //width: 100%;
  }
}
