#content_wrap {
	position: relative;
	width: 100%;
	display: block;
	float: left;
	min-height: 100vh;
	padding: 20px 0 20px;
	z-index: 15px;
	//background: rgba(33, 37, 41, 0.6);
	z-index: 100;
		top: 0;
	padding-top: 250px;
	h1{
		a{
			font-size: 56px;
			font-weight: bold;
		}
	}
}

#content{
  background: #4C4C4C;
}

.content_header {
    background: rgba(33, 37, 41, 0.6);
    padding: 20px 40px;
    margin: auto;
    min-width: 300px;
    margin: 60px auto;
    padding: 60px;
		color:white;
    border-top: 1px solid rgba(250, 250, 250, 0.7);
    border-bottom: 10px solid #F8E900;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// .content {
// 	background: RGBA(250, 250, 250, 0.8);
// 	margin: 50px auto;
// 	padding: 30px;
// 	position: relative;
// 	color: black;
// }
.content-area {
	height: 100%;
}
