footer {
	position: fixed;
	bottom: 0;
	height: 200px;
	width: 100%;
	z-index: 100;
	//background: white;
overflow: hidden;
	.footer_content {
		//background: rgba(0, 0, 0, 0.7);
	padding: 20px;
	overflow: hidden;
	height: 980%;
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: 0;
	}
}
