#main {
	position: relative;
	z-index: 10;
	font-size: 13px;
	padding: 20px;
	color: white;
	font-weight: 100;
	float: left;
	width: 100%;
	display: inline-block;
}

#content{
  background: #4C4C4C;
}
.content_header {
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    margin: 40px auto;
}
