@import "~bootstrap/scss/bootstrap.scss";
@import "~jotted/jotted.css";

@import "colors.scss";
@import "keyframes.scss";
@import "body.scss";
@import "content.scss";
@import "main.scss";

@import "navbar.scss";
@import "header.scss";
@import "footer";
@import "app.scss";
@import "slider.scss";
@import "carousel.scss";

@import "animation.scss";
$link_color: #CCCCCC; /*Filter styles*/

.saturate {
	-webkit-filter: saturate(3);
	filter: saturate(3);
}

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.contrast {
	-webkit-filter: contrast(160%);
	filter: contrast(160%);
}

.brightness {
	-webkit-filter: brightness(0.25);
	filter: brightness(0.25);
}

.blur {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

.invert {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.sepia {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
}

.huerotate {
	-webkit-filter: hue-rotate(180deg);
	filter: hue-rotate(180deg);
}

.rss.opacity {
	-webkit-filter: opacity(50%);
	filter: opacity(50%);
}


h1 {
	font-weight: 300;
	text-align: center;
	//position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}

.start_image {
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;

	img {
		position: relative;
		margin: 10px auto;
		display: block;
		height: 100%;
		mix-blend-mode: difference;
	}
}

#Orbit {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	//background: rgba(160,150,150,0.);
// mix-blend-mode: hard-light;
	//background: rgba(20,20,20,0.5);
	//background: linear-gradient(165deg, #e5e5e5, #3b4245, #404040, #bfbfbf);
	//background: linear-gradient(165deg, #e5e5e5, #bfbfbf);
	canvas{
		mix-blend-mode: saturation;
	}
}
